
/* Анімація для фону*/

@keyframes animate1 {
    0%{
        transform: translateY(-1000px) translateX(500px) rotate(720deg);
        opacity: 1;
        border-radius: 5%;
    }
    100%{
        transform: translateY(0) translateX(0) rotate(0deg);
        opacity: 0.3;
        border-radius: 5%;
    }
}
@keyframes animate2 {
    0%{
        transform: translateY(0) translateX(0) rotate(0deg);
        opacity: 1;
        border-radius: 5%;
    }
    100%{
        transform: translateY(-1000px) translateX(500px) rotate(720deg);
        opacity: 0.3;
        border-radius: 5%;
    }
}
@keyframes animate3 {
    0%{
        transform: translateY(0) translateX(500px) rotate(720deg);
        opacity: 1;
        border-radius: 5%;
    }
    100%{
        transform: translateY(-1000px) translateX(0) rotate(0deg);
        opacity: 0.3;
        border-radius: 5%;
    }
}
@keyframes animate4 {
    0%{
        transform: translateY(-1000px) translateX(0) rotate(720deg);
        opacity: 1;
        border-radius: 5%;
    }
    100%{
        transform: translateY(0) translateX(500px) rotate(0deg);
        opacity: 0.3;
        border-radius: 5%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: -1;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: #257133;
}

.li1{
      animation: animate1 30s linear infinite;
}
.li2{
    animation: animate2 30s linear infinite;
}
.li3{
    animation: animate3 30s linear infinite;
}
.li4{
    animation: animate4 30s linear infinite;
}



.background li:nth-child(0) {
    left: 24%;
    width: 83px;
    height: 83px;
    bottom: -83px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 62%;
    width: 73px;
    height: 73px;
    bottom: -73px;
    animation-delay: 2s;
}
.background li:nth-child(2) {
    left: 79%;
    width: 53px;
    height: 53px;
    bottom: -53px;
    animation-delay: 10s;
}
.background li:nth-child(3) {
    left: 22%;
    width: 88px;
    height: 88px;
    bottom: -88px;
    animation-delay: 10s;
}
.background li:nth-child(4) {
    left: 8%;
    width: 78px;
    height: 78px;
    bottom: -78px;
    animation-delay: 9s;
}
.background li:nth-child(5) {
    left: 32%;
    width: 69px;
    height: 69px;
    bottom: -69px;
    animation-delay: 15s;
}
.background li:nth-child(6) {
    left: 66%;
    width: 81px;
    height: 81px;
    bottom: -81px;
    animation-delay: 16s;
}
.background li:nth-child(7) {
    left: 67%;
    width: 87px;
    height: 87px;
    bottom: -87px;
    animation-delay: 10s;
}
.background li:nth-child(8) {
    left: 6%;
    width: 60px;
    height: 60px;
    bottom: -60px;
    animation-delay: 37s;
}
.background li:nth-child(9) {
    left: 2%;
    width: 81px;
    height: 81px;
    bottom: -81px;
    animation-delay: 8s;
}
.background li:nth-child(10) {
    left: 69%;
    width: 55px;
    height: 55px;
    bottom: -55px;
    animation-delay: 32s;
}
.background li:nth-child(11) {
    left: 63%;
    width: 60px;
    height: 60px;
    bottom: -60px;
    animation-delay: 5s;
}
.background li:nth-child(12) {
    left: 30%;
    width: 69px;
    height: 69px;
    bottom: -69px;
    animation-delay: 25s;
}
.background li:nth-child(13) {
    left: 0%;
    width: 62px;
    height: 62px;
    bottom: -62px;
    animation-delay: 9s;
}
.background li:nth-child(14) {
    left: 15%;
    width: 56px;
    height: 56px;
    bottom: -56px;
    animation-delay: 57s;
}
.background li:nth-child(15) {
    left: 87%;
    width: 74px;
    height: 74px;
    bottom: -74px;
    animation-delay: 9s;
}
.background li:nth-child(16) {
    left: 63%;
    width: 71px;
    height: 71px;
    bottom: -71px;
    animation-delay: 67s;
}
.background li:nth-child(17) {
    left: 19%;
    width: 88px;
    height: 88px;
    bottom: -88px;
    animation-delay: 8s;
}
.background li:nth-child(18) {
    left: 3%;
    width: 97px;
    height: 97px;
    bottom: -97px;
    animation-delay: 89s;
}
.background li:nth-child(19) {
    left: 81%;
    width: 67px;
    height: 67px;
    bottom: -67px;
    animation-delay: 49s;
}
.background li:nth-child(20) {
    left: 59%;
    width: 55px;
    height: 55px;
    bottom: -55px;
    animation-delay: 26s;
}
.background li:nth-child(21) {
    left: 82%;
    width: 81px;
    height: 81px;
    bottom: -81px;
    animation-delay: 95s;
}
.background li:nth-child(22) {
    left: 13%;
    width: 77px;
    height: 77px;
    bottom: -77px;
    animation-delay: 44s;
}
.background li:nth-child(23) {
    left: 87%;
    width: 86px;
    height: 86px;
    bottom: -86px;
    animation-delay: 96s;
}
.background li:nth-child(24) {
    left: 13%;
    width: 96px;
    height: 96px;
    bottom: -96px;
    animation-delay: 9s;
}
.background li:nth-child(25) {
    left: 87%;
    width: 96px;
    height: 96px;
    bottom: -96px;
    animation-delay: 78s;
}
.background li:nth-child(26) {
    left: 60%;
    width: 77px;
    height: 77px;
    bottom: -77px;
    animation-delay: 84s;
}
.background li:nth-child(27) {
    left: 32%;
    width: 81px;
    height: 81px;
    bottom: -81px;
    animation-delay: 28s;
}
.background li:nth-child(28) {
    left: 84%;
    width: 59px;
    height: 59px;
    bottom: -59px;
    animation-delay: 39s;
}
.background li:nth-child(29) {
    left: 81%;
    width: 79px;
    height: 79px;
    bottom: -79px;
    animation-delay: 97s;
}
.background li:nth-child(30) {
    left: 24%;
    width: 83px;
    height: 83px;
    bottom: -83px;
    animation-delay: 1s;
}
.background li:nth-child(31) {
    left: 62%;
    width: 73px;
    height: 73px;
    bottom: -73px;
    animation-delay: 2s;
}
.background li:nth-child(32) {
    left: 79%;
    width: 53px;
    height: 53px;
    bottom: -53px;
    animation-delay: 10s;
}
.background li:nth-child(33) {
    left: 22%;
    width: 88px;
    height: 88px;
    bottom: -88px;
    animation-delay: 10s;
}
.background li:nth-child(34) {
    left: 8%;
    width: 78px;
    height: 78px;
    bottom: -78px;
    animation-delay: 9s;
}
.background li:nth-child(35) {
    left: 32%;
    width: 69px;
    height: 69px;
    bottom: -69px;
    animation-delay: 15s;
}
.background li:nth-child(36) {
    left: 66%;
    width: 81px;
    height: 81px;
    bottom: -81px;
    animation-delay: 16s;
}
.background li:nth-child(37) {
    left: 67%;
    width: 87px;
    height: 87px;
    bottom: -87px;
    animation-delay: 10s;
}
.background li:nth-child(38) {
    left: 6%;
    width: 60px;
    height: 60px;
    bottom: -60px;
    animation-delay: 37s;
}
.background li:nth-child(39) {
    left: 2%;
    width: 81px;
    height: 81px;
    bottom: -81px;
    animation-delay: 8s;
}








body{
background: linear-gradient(138.9deg, #222920 0%, #09210b 100%);
z-index: -1;
overflow: hidden;
display: flex;
flex-direction: row;
transition: "0.5s ease";
cursor: default;
}

.scoreboard :hover{
    scale: 1.05;
    transition: 0.3s ease-in-out;
}
.scoreboard *{
    transition: 0.3s ease-in-out;
}

.scoreboard{
    
    background-color: #2c903e;
    height: 90vh;
    width: 33vw;
    margin: 5vh 0 5vh 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

.scoreboard h2{
    border-radius: 5px;
    padding: 2vh;
    background-color: #212121;
    width: 12vw;
    height: 3vh;
    color: white;
    font-family: sans-serif;
    text-align: center;
    margin-top: 3vh;
}   
.BEST{
    border-radius: 5px;
    padding: 1vh;
    background-color: #212121;
    height: 2.5vh;
    color: white;
    font-family: sans-serif;
    text-align: center;
    position: absolute;
    top:4.5vh;
    margin-left: 26vw;

  
}   

.GAMES{
    border-radius: 5px;
    padding: 1vh;
    background-color: #212121;
    height: 2.5vh;
    color: white;
    font-family: sans-serif;
    text-align: center;
    position: absolute;
    top:4.5vh;
    margin-right: 27vw;
  
}
.start{    

    background-color: #2c903e;
    height: 10vh;
    width: 15vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 3vh;
    transition: 0.3s ease-in-out;
}

 .start:hover{
    cursor: pointer;
    scale:  1.2;
    transition: 0.3s ease-in-out;
  }
.pole{
    background-color: rgb(44, 77, 45);
    width: 80vh;
    border-radius: 5px;
    height: 80vh;
  
}

.game{
    margin: 0 5vh 5vh auto;
    width: 80vh;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}



table{
    border-collapse: collapse;
    
}

td{

width: 10vh;
height: 10vh;
border:5px solid #212121;
padding: 0;
margin: 0;
border-spacing: 0;
transition: 0.05s ease-in-out;
box-sizing: border-box;

}

td:hover{
    background-color: #2c903e;
    transition: 0.05s ease-in-out;
    cursor: pointer;
}


.data{
    background-color: #223324;
    height: 72vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

.data .Time, .data .Clicks, .data .MRT{

    background-color: #2c903e;
    border-radius: 5px;
    width: 25vw;
    height: 17vh;
    margin-top: 4.4vh;
    border: 6px solid #212121
}

.data .Time img, .data .Clicks img, .data .MRT img{
    width: 12vh;
    height: 12vh;
    margin-top: 2vh;
    margin-left:2vw;
    border-radius: 5px;
    ;
}

.data h1{
    color: #212121;
    font-family: sans-serif;
    margin-left: 10vw;
    font-size: 20px;
    margin-top: -12vh;
    text-align:center;
}

.data p{
    
    color: white;
    font-family: sans-serif;
    margin-left: 13.5vw;
    font-size: 16px;
    margin-top: 1vh;
    text-align:center;
    background-color:  #212121;
    padding: 0.5vh;
    width: 8vw;
    border-radius: 5px;
}
